<!-- Modal para crear un prestamo -->
<div class="modal fade" id="createPrestamoModal" tabindex="-1" aria-labelledby="createPrestamoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Aumenté el tamaño del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createPrestamoModalLabel">Registrar Prestamo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createPrestamoForm" asp-controller="Prestamo" asp-action="Create" method="post">
                <div class="modal-body">
                    <!-- Datos del Prestamo -->
                    <div class="mb-3">
                        <label for="Total" class="form-label">Cantidad del Prestamo</label>
                        <input type="number" class="form-control" id="Total" name="Total" required min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                        <label for="Cuotas" class="form-label">Cuotas</label>
                        <select class="form-select" id="Cuotas" name="Cuotas" required">
                            <option value="">Seleccione Cuotas</option>
                            <option value=1>1 mes</option>
                            <option value=6>6 meses</option>
                            <option value=12>12 meses</option>
                            <option value=18>18 meses</option>
                        </select>
                    </div>
                </div>
            </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button onclick="validateAndConfirmCreate('createPrestamoForm','createConfirmationModal')" class="btn btn-primary">Guardar</button>
                </div>
            
        </div>
    </div>
</div>
