
@{
    ViewData["Title"] = "Activar Usuario";
    Layout = null;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activar Usuario</title>
    <link rel="stylesheet" href="~/css/UnAutehenticateStyles.css" />
</head>
<body>
    <partial name="Messages" />
    <div class="container">
        <h2>Primer Inicio de Sesión</h2>
        <form asp-controller="UnAuthenticate" asp-action="ActiveUser" method="post" id="passwordRecoveryForm">
            <div class="form-group">
                <label for="user">Usuario</label>
                <input type="email" id="user" name="Usuario" oninput="this.value = this.value.toUpperCase()" placeholder="correo@ejemplo.com" maxlength="100" minlength="5" autocomplete="email" required title="Colocar usuario">
            </div>
            <div class="form-group">
                <label for="Dpi">DPI</label>
                <input type="text" id="Dpi" name="Dpi" class="form-control" required maxlength="13" minlength="13" pattern="\d{13}" title="Debe ingresar un DPI válido de 13 dígitos">
            </div>

            <div class="form-group">
                <label for="newPassword">Contraseña</label>
                <input type="password" id="newPassword" name="Password1" class="form-control" required minlength="8" title="Colocar contraseña">
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmar Contraseña</label>
                <input type="password" id="confirmPassword" name="Password2" class="form-control" required minlength="8" title="Confirmar contraseña">
            </div>

            <button type="submit" class="btn btn-primary">Activar Usuario</button>
        </form>
        <div id="error" class="alert alert-danger" style="display:none;"></div>
    </div>

    <script src="~/js/UnAuthenticate.js"></script>
</body>
</html>