<!-- Modal para mostrar los detalles del Nomina -->
<div class="modal fade" id="NominaemployeeDetailModal" tabindex="-1" aria-labelledby="NominaemployeeDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NominaemployeeDetailModalLabel">Detalle de la Nómina del Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Nombre: </strong> <span id="employeeName"></span></p>
                <p><strong>Departamento: </strong> <span id="employeeDepartamento"></span></p>
                <p><strong>Puesto: </strong> <span id="employeePuesto"></span></p>
                <p><strong>Salario: </strong> Q.<span id="employeeSueldo"></span></p>
                <p><strong>Salario Extraordinario: Q.</strong> <span id="employeeExtra"></span></p>
                <p><strong>Comisiones: </strong> Q.<span id="employeeComis"></span></p>
                <p><strong>Bonificaciones: </strong> Q.<span id="employeeBonis"></span></p>
                <p><strong>Aguinaldo / Bono 14: Q.</strong> <span id="employeeAgui"></span></p>
                <p><strong>Otros Ingresos: Q.</strong> <span id="employeeIngre"></span></p>
                <p class="text-danger border-warning" style="border:dotted; padding: 2px"><strong>Total Devengado: Q.</strong> <span id="employeeDeven"></span></p>
                <p><strong>IGSS: </strong> Q.<span id="employeeIGSS"></span></p>
                <p><strong>IRS: </strong> Q.<span id="employeeISR"></span></p>
                <p><strong>Préstamos: Q.</strong> <span id="employeePres"></span></p>
                <p><strong>Créditos: Q.</strong> <span id="employeeCred"></span></p>
                <p><strong>Anticipos: Q.</strong> <span id="employeeAnti"></span></p>
                <p><strong>Otros Descuentos: Q.</strong> <span id="employeeDesc"></span></p>
                <p class="text-danger border-warning" style="border:dotted; padding: 2px"><strong>Total Descuentos: Q.</strong> <span id="employeeTDesc"></span></p>
                <p class="text-success border-success" style="border:dashed; padding: 2px"><strong>Total Liquido: Q.</strong> <span id="employeeLiquido"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

