<!-- Modal para crear un Departamento -->
<div class="modal fade" id="createDeptoModal" tabindex="-1" aria-labelledby="createDeptoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <!-- Aumenté el tamaño del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDeptoModalLabel">Crear Departamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createDeptoForm" asp-controller="Departamento" asp-action="Create" method="post">
                <div class="modal-body">
                    <!-- Datos del departamento -->

                    <div class="mb-3">
                        <label for="Descripcion" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Descripcion" name="Descripcion" required maxlength="100">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
