@using Sistema.Gestion.Nómina.Helpers 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGN</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar-wrapper">
            <div class="sidebar-heading text-light">
                <div class="d-flex justify-content-end align-items-center">
                    <!-- Dropdown button -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="logout" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                            <li><a class="dropdown-item"><i class="bi bi-person-fill-gear"></i> Perfil</a></li>
                            <li><a class="dropdown-item" asp-controller="Login" asp-action="LogOut"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
                <p class="mb-0" style="font-size:100px; margin-top:-20px"><i class="bi bi-person-fill"></i></p>
                <h4 class="mb-0" style="margin-top:-20px">USUARIO</h4>
                <p class="mb-0" style="color:rgb(13, 30, 58);">ejemplo@correo.com</p>
            </div>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="bi bi-house-door-fill"></i> Home
                    </a>
                </li>

                @if (PermissionHelper.HasRole("SuperRol"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Empresa" asp-action="Index">
                            <i class="bi bi-buildings-fill"></i> Empresas
                        </a>
                    </li>
                }

                @if (PermissionHelper.HasPermission("Empleados.Listar"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Employees" asp-action="Index">
                            <i class="bi bi-person-lines-fill"></i> Empleados
                        </a>
                    </li>
                }
                @if (PermissionHelper.HasPermission("EmpleadosDepTo.Listar"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="EmployeeDepto" asp-action="Index">
                            <i class="bi bi-people-fill"></i>Mi Departamento
                        </a>
                    </li>
                }

                @if (PermissionHelper.HasPermission("Departamento.Listar") ||
                PermissionHelper.HasPermission("Roles.Listar") ||
                PermissionHelper.HasPermission("Puesto.Listar"))
                {
                    <li class="nav-item">
                        <!-- Accordion for Administración Empresa -->
                        <div class="accordion" id="accordionExample">
                            <div id="headingOne">
                                <button class="nav-link text-light accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="closeOtherAccordions('collapseOne')">
                                    <i class="bi bi-building-fill-gear"></i> Administración Empresa
                                </button>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @if (PermissionHelper.HasPermission("Roles.Listar"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Rol" asp-action="Index">Roles</a>
                                    }
                                    @if (PermissionHelper.HasPermission("Departamento.Listar"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Departamento" asp-action="Index">Departamentos</a>
                                    }
                                    @if (PermissionHelper.HasPermission("Puesto.Listar"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Puesto" asp-action="Index">Puestos</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }

                @if (PermissionHelper.HasPermission("Ausencias.Listar") ||
                PermissionHelper.HasPermission("SolicitudesAusencias.Listar") ||
                PermissionHelper.HasPermission("SolicitudesAusencias.Historial"))
                {
                    <li class="nav-item">
                        <!-- Accordion for Ausencias Laborales -->
                        <div class="accordion" id="accordionExample">
                            <div id="headingTwo">
                                <button class="nav-link text-light accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" onclick="closeOtherAccordions('collapseTwo')">
                                    <i class="bi bi-calendar-x-fill"></i> Ausencias Laborales
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" >
                                <div class="accordion-body">
                                    @if (PermissionHelper.HasPermission("Ausencias.Listar") && !PermissionHelper.HasRole("CEO"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Ausencias" asp-action="Index">Mis Ausencias</a>
                                    }
                                    @if (PermissionHelper.HasPermission("SolicitudesAusencias.Listar"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="SolicitudesAusencias" asp-action="Index">Solicitudes Ausencias</a>
                                    }
                                    @if (PermissionHelper.HasPermission("SolicitudesAusencias.Listar") && !PermissionHelper.HasRole("CEO"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="SolicitudesAusencias" asp-action="HistoryAusencia">Historial de Departamento</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
                @if (PermissionHelper.HasPermission("Prestamos.Listar") ||
                PermissionHelper.HasPermission("Creditos.Listar") )
                {
                    <li class="nav-item">
                        <!-- Accordion for Ausencias Laborales -->
                        <div class="accordion" id="accordionExample">
                            <div id="headingThree">
                                <button class="nav-link text-light accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" onclick="closeOtherAccordions('collapseThree')">
                                    <i class="bi bi-bank"></i> Prestamos / Créditos
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    @if (PermissionHelper.HasPermission("Prestamos.Listar") && !PermissionHelper.HasRole("CEO"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Prestamo" asp-action="Index">Mis Prestamos</a>
                                    }
                                    @if (PermissionHelper.HasPermission("Creditos.Listar"))
                                    {
                                        <a class="nav-link text-light ps-3" asp-area="" asp-controller="Credito" asp-action="Index">Mis Créditos</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom ">
                <button class="btn btn-secondary" id="menu-toggle"><i class="bi bi-list"></i></button>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Sistema.Gestion.Nómina - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
