<!-- Modal para mostrar los detalles del empleado -->
<div class="modal fade" id="employeeDeptoDetailModal" tabindex="-1" aria-labelledby="employeeDeptoDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeDeptoDetailModalLabel">Detalle del Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="employeeId"></span></p>
                <p><strong>Nombres:</strong> <span id="employeeName"></span></p>
                <p><strong>Apellidos:</strong> <span id="employeeApellido"></span></p>
                <p><strong>DPI:</strong> <span id="employeeDpi"></span></p>
                <p><strong>Puesto:</strong> <span id="employeePuesto"></span></p>
                <p><strong>Departamento:</strong> <span id="employeeDepartamento"></span></p>
                <p><strong>Sueldo:</strong> <span id="employeeSueldo"></span></p>
                <p><strong>Fecha de Contratación:</strong> <span id="employeeFechaContratado"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
