<!-- Modal de Confirmación de Edición -->
<div class="modal fade" id="editConfirmationModal" tabindex="-1" aria-labelledby="editConfirmationModal" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="editConfirmationModal">Confirmar Edición de Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-warning">
                <strong>¿Está seguro de los cambios a realizar?</strong>
            </div>
            <div class="modal-footer ">
                 <form id="ConfirmEditEmpresa">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" id="confirmEditBtn" class="btn btn-warning">Guardar Cambios</button>
                    </form>
            </div>
        </div>
    </div>
</div>
