<!-- Modal para mostrar los detalles del empresa -->
<div class="modal fade" id="empresaDetailModal" tabindex="-1" aria-labelledby="empresaDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="empresaDetailModalLabel">Detalle de Empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="empresaId"></span></p>
                <p><strong>Nombre:</strong> <span id="empresaName"></span></p>
                <p><strong>Dirección:</strong> <span id="empresaDireccion"></span></p>
                <p><strong>Teléfono:</strong> <span id="empresaTel"></span></p>
                <p><strong>Administrador:</strong> <span id="empresaAdmin"></span></p>
                <p><strong>Usuario:</strong> <span id="empresaUsuario"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>