/* Sidebar styling */
#sidebar-wrapper {
    max-width: 16rem;
    min-width: 13rem;
    height: 100vh;
    background-color: rgb(20, 83, 154);
    transition: all 0.3s;
    position: sticky;
    z-index: 1001;
    top: 0;
    box-shadow: 1px 0px 20px -5px black;
    overflow-y :auto;
    overflow-x: hidden;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: rgb(3, 53, 98) rgb(24, 67, 117); /* Colores de la barra en Firefox (pista, pulgar) */
}

.sidebar .nav-link {
    color: white;
    padding: 10px 0px 15px 15px;
    transition: background-color 0.3s;
    background-color: rgb(20, 83, 154);
    font-weight: bold;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 0px 25px -12px black;
    margin-bottom: 10px
}
    .sidebar .nav-link:hover {
        background-color: rgb(24, 67, 117);
    }

    .sidebar .nav-link:active {
        background-color: rgb(13, 53, 98);
    }
.nav-link i {
        font-size: 20px;
        margin-right: 10px;
    }

.sidebar .nav-link {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin: 2.5px 5px 2.5px 2.5px;
    /*border-style:solid;
        border-color: rgb(45, 105, 172)*/
}
.accordion-button {
    border: none;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    width:auto
}

    .accordion-button:hover {
        background-color: rgb(24, 67, 117);
    }
    .accordion-button:active {
        background-color: rgb(13, 53, 98);
    }

.accordion-body .nav-link {
    font-size: 0.9rem;
}

.accordion-body{
    margin:-10px
}

.sidebar-heading {
    padding: 15px;
    background-color: rgb(24, 67, 117);
    text-align: center;
    font-weight: bold;
}
#logout {
    background-color: rgb(20, 83, 154);
    color: white;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin-top: -5px;
}

    #logout:hover {
        background-color: rgb(24, 67, 117);
    }

    #logout:active {
        background-color: rgb(13, 53, 98);
    }

#page-content-wrapper {
    width: 100%;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
    box-shadow : none
}
#menu-toggle {
    /*position: absolute;*/
    top: 10px;
    left: 10px;
    margin-left: 10px;
}
@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -16rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
        box-shadow: 1px 0px 20px -5px black;
    }
    li {
        font-size: 0.9rem; /* Smaller font size */
    }
    .nav-link i {
        font-size: 15px;
        margin-right: 5px;
    }
    .nav-link {
        padding: 10px 0px 15px 5px;
        margin: 0px;
    }
    #menu-toggle {
        /*position: absolute;*/
        top: 10px;
        left: 10px;
        margin-left: 10px;
    }
}

html, body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}


