<!-- Modal para crear un empleado -->
<div class="modal fade" id="createEmployeeModal" tabindex="-1" aria-labelledby="createEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Aumenté el tamaño del modal -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createEmployeeModalLabel">Crear Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="createEmployeeForm" asp-controller="Employees" asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <!-- Datos del empleado -->
                    <div class="mb-3">
                        <label for="Dpi" class="form-label">DPI</label>
                        <input type="text" class="form-control" id="Dpi" name="Dpi" required minlength="13" maxlength=" 13">
                    </div>
                    <div class="mb-3">
                        <label for="Nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre" required maxlength="100">
                    </div>
                    <div class="mb-3">
                        <label for="Apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="Apellidos" name="Apellidos" required maxlength="100">
                    </div>
                    <div class="mb-3">
                        <label for="FechaContratado" class="form-label">Fecha de Contratación</label>
                        <input type="date" class="form-control" id="FechaContratado" name="FechaContratado" required>
                    </div>
                    <div class="mb-3">
                        <label for="IdUsuario" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="Usuario" name="Usuario" oninput="this.value = this.value.toUpperCase()" required maxlength="100" minlength="5" autocomplete="email" placeholder="correo@ejemplo.com" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,}$" title="Ingrese una dirección de correo válida">
                    </div>
                    <div class="mb-3">
                        <label for="Idrol" class="form-label">Roles</label>
                        <select class="form-select" id="IdRol" name="IdRol" required">
                            <option value="">Seleccione un Rol</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="Sueldo" class="form-label">Sueldo</label>
                        <input type="number" class="form-control" id="Sueldo" name="Sueldo" required min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                        <label for="IdDepartamento" class="form-label">Departamento</label>
                        <select class="form-select" id="IdDepartamento" name="IdDepartamento" required onchange="onDepartamentoChange(this,'IdPuesto')">
                            <option value="">Seleccione un Departamento</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="IdPuesto" class="form-label">Puesto</label>
                        <select class="form-select" id="IdPuesto" name="IdPuesto" required>
                            <option value="">Debe seleccionar un Departamento</option>
                        </select>
                    </div> 
                    <div class="mb-3">
                        <label for="expedientePDF" class="form-label">Subir expediente PDF</label>
                        <input type="file" class="form-control" id="expedientePDF" name="expedientePDF" accept="application/pdf" required>
                    </div>
                    <div class="mb-3">
                        <label for="imagenPNG" class="form-label">Imagen de Usuario</label>
                        <input type="file" class="form-control" id="imagenPNG" name="imagenPNG" accept="image/png" required>
                    </div>

                    <!-- Número de integrantes de la familia -->
                    <div class="mb-3">
                        <label for="numFamiliares" class="form-label">Número de Integrantes de la Familia</label>
                        <input type="number" class="form-control" id="numFamiliares" min="0" placeholder="Ingrese el número de integrantes">
                    </div>
                    <div class="mb-3">
                        <button type="button" class="btn btn-primary" onclick="generarCamposFamiliares()">Generar Familiares</button>
                    </div>

                    <!-- Sección para agregar los campos dinámicos de familiares -->
                    <div id="camposFamiliares"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
