<!-- Modal para mostrar Historial de Sueldos -->
<div class="modal fade" id="sueldosDetailModal" tabindex="-1" aria-labelledby="sueldosDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sueldosDetailModalLabel">Historial de Sueldos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-block justify-content-between align-items-center">
                    <div class=" justify-content-between align-items-center">
                        <p><strong>Empleado:</strong> <span id="idNombre"></span></p>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="overflow : visible; position:relative">
                        <thead class="thead-dark">
                            <tr>
                                <td>No.</td>
                                <td>Salario Anterior</td>
                                <td>Nuevo Salario</td>
                                <td>Fecha</td>
                            </tr>
                        </thead>
                        <tbody id="bodytableSueldos">
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>