<!-- Modal para mostrar Liquidación -->
<div class="modal fade" id="LiquiDetailModal" tabindex="-1" aria-labelledby="LiquiDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LiquiDetailModalLabel">Liquidación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="employeeId"></span></p>
                <p><strong>Nombres:</strong> <span id="IdemployeeName"></span></p>
                <p><strong>Fecha Contratado:</strong> <span id="IdContratado"></span></p>
                <p><strong>Fecha Despedido:</strong> <span id="IdDespedido"></span></p>
                <p><strong>Tiempo Trabajado:</strong> <span id="IdTrabajado"></span></p>
                <p><strong>Sueldo:</strong> Q.<span id="IdSueldo"></span></p>
                <p><strong>TOTAL A LIQUIDAR:</strong> <span id="IdLiquidar"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
