<!-- Modal para editar empleado -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeModalLabel">Editar Empleado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Employees" asp-action="Update" method="post" id="editEmployeeForm">
                    <input type="hidden" id="editId" name="Id" />
                    <div class="mb-3 form-group">
                        <label for="editNombre" class="form-label">Nombre</label>
                        <input  type="text" class="form-control" id="editNombre" name="Nombre" required />
                    </div>
                    <div class="mb-3 form-group">
                        <label for="editRol" class="form-label">Rol</label>
                        <select class="form-select" id="editRol" name="idRol"></select>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="editSueldo" class="form-label">Sueldo</label>
                        <input type="number" class="form-control" id="editSueldo" name="Sueldo" required />
                    </div>
                    <div class="mb-3 form-group">
                        <label for="editPuesto" class="form-label">Puesto</label>
                        <select class="form-select" id="editPuesto" name="IdPuesto"></select>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="editDepartamento" class="form-label" >Departamento</label>
                        <select class="form-select" id="editDepartamento" name="IdDepartamento" onchange="onDepartamentoChange(this,'editPuesto')"></select>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="editUsuario" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="editUsuario" name="Usuario" disabled />
                    </div>
                    <div class="mb-3 form-group modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

