<!-- Modal para mostrar los detalles del puesto -->
<div class="modal fade" id="puestoDetailModal" tabindex="-1" aria-labelledby="puestoDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="puestoDetailModalLabel">Detalle del Puesto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="puestoId"></span></p>
                <p><strong>Puesto:</strong> <span id="puestoName"></span></p>
                <p><strong>Departamento:</strong> <span id="puestoDepto"></span></p>
                <h5>Empleados</h5>
                <div id="empleadoPuesto"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
